.menu-section {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.menu {
    width: 350px;
    height: 300px;
    border-bottom: 25px solid #ffc300;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    user-select: none;
    text-decoration: none;
    padding: 0 20px;
}

.menu-icon i {
    color: #ffc300;
    font-size: 70px;
}

.menu-title {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}