<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cảnh sát giao thông: Lịch sử xử lý vi phạm</title>

    <link rel="stylesheet" href="../css/manager.css">
    <script src="https://kit.fontawesome.com/043ac30448.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar"></nav>
    <section class="manager-section">
        <div class="manager-title">
            <div class="title-name">
                <div class="text">Lịch sử vi phạm</div>
                <button class="btn"><i class="fa-solid fa-user"></i></button>
                <button class="btn"><i class="fa-solid fa-check"></i></button>
            </div>
            <div class="search">
                <form action="#">
                    <input type="search" name="searchPattern" placeholder="Tìm kiếm" id="">
                    <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        <div class="form-section">
            <div class="title-underline">
                Hôm nay - Thứ Bảy, 7 tháng 5, 2022
            </div>
            <div class="history-list">
                <div class="history-item">
                    <div class="time">16:26</div>
                    <div class="text"><a href="#">Xe ô tô biển kiểm soát 51F-970.22 - Chủ phương tiện: Bạch Thị Vân
                            Anh</a></div>
                    <div class="done"><i class="fa-solid fa-check"></i></div>
                </div>
                <div class="history-item">
                    <div class="time">10:23</div>
                    <div class="text"><a href="#">Xe ô tô biển kiểm soát 30F-298.12 - Chủ phương tiện: Võ Thị Lệ Nga</a>
                    </div>
                </div>
                <div class="history-item">
                    <div class="time">10:23</div>
                    <div class="text"><a href="#">Xe ô tô biển kiểm soát 30F-298.12 - Chủ phương tiện: Võ Thị Lệ Nga</a>
                    </div>
                </div>
                <div class="history-item">
                    <div class="time">09:58</div>
                    <div class="text"><a href="#">Xe máy biển soát 63-B9 028.97 - Chủ phương tiện: Thân Vĩnh Long</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-section">
            <div class="title-underline">
                Thứ Năm, 5 tháng 5, 2022
            </div>
            <div class="history-list">
                <div class="history-item">
                    <div class="time">18:59</div>
                    <div class="text"><a href="#">Xe máy biển soát 94-D1 388.70 - Chủ phương tiện: Nguyễn Phi Long</a>
                    </div>
                </div>
                <div class="history-item">
                    <div class="time">09:07</div>
                    <div class="text"><a href="#">Xe máy biển kiểm soát 29-AA 096.58 - Chủ phương tiện: Vi Thị Mẫn
                            Hà</a></div>
                    <div class="done"><i class="fa-solid fa-check"></i></div>
                </div>
                <div class="history-item">
                    <div class="time">08:50</div>
                    <div class="text"><a href="#">Xe ô tô biển kiểm soát 30G-384.23 - Chủ phương tiện: Lê Thị Trúc Vy
                        </a></div>
                    <div class="done"><i class="fa-solid fa-check"></i></div>
                </div>
                <div class="history-item">
                    <div class="time">08:30</div>
                    <div class="text"><a href="#">Xe ô tô biển kiểm soát 29C-236.78 - Chủ phương tiện: Đinh Tuấn Kỳ</a>
                    </div>
                </div>
                <div class="history-item">
                    <div class="time">08:18</div>
                    <div class="text"><a href="#">Xe máy biển soát 59-F2 258.88 - Chủ phương tiện: Phạm Văn Hà</a></div>
                    <div class="done"><i class="fa-solid fa-check"></i></div>
                </div>
            </div>
        </div>
        <div class="load-more">
            <button class="btn btn-animation">Tải thêm <i class="fa-solid fa-angles-down"></i></button>
        </div>
    </section>
    <footer></footer>

    <script src="../js/nav.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/form.js"></script>
    <script src="js/main-menu.js"></script>
</body>

</html>