<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cảnh sát giao thông: Menu chính</title>
    <link rel="stylesheet" href="../css/main-menu.css">
    <script src="https://kit.fontawesome.com/043ac30448.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar"></nav>
    <section class="menu-section">
        <a href="lich-su-menu.html" class="menu">
            <div class="menu-icon"><i class="fa-solid fa-clock"></i></div>
            <p class="menu-title">Lịch sử</p>
        </a>
        <a href="xu-ly-vi-pham-menu.html" class="menu">
            <div class="menu-icon"><i class="fa-solid fa-bolt-lightning"></i></div>
            <p class="menu-title">Xử lý vi phạm</p>
        </a>
        <a href="#" class="menu">
            <div class="menu-icon"><i class="fa-solid fa-binoculars"></i></div>
            <p class="menu-title">Tra cứu</p>
        </a>
    </section>
    <footer></footer>

    <script src="../js/nav.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/form.js"></script>
    <script src="js/main-menu.js"></script>
</body>
</html>