<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cảnh sát giao thông: Xử lý vi phạm</title>
    <link rel="stylesheet" href="../css/main-menu.css">
    <script src="https://kit.fontawesome.com/043ac30448.js" crossorigin="anonymous"></script>
    <style>
        .menu-title {
            text-transform: none;
        }
    </style>
</head>
<body>
    <nav class="navbar"></nav>
    <section class="menu-section">
        <a href="vi-pham-dang-xu-ly.html" class="menu">
            <div class="menu-icon"><i class="fa-solid fa-triangle-exclamation"></i></div>
            <p class="menu-title">Đang xử lý</p>
        </a>
        <a href="xu-ly-vi-pham-tao-moi.html" class="menu">
            <div class="menu-icon"><i class="fa-solid fa-folder-plus"></i></div>
            <p class="menu-title">Tạo mới</p>
        </a>
    </section>
    <footer></footer>

    <script src="../js/nav.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/form.js"></script>
    <script src="js/main-menu.js"></script>
</body>
</html>